.btn-lg{
    margin-right: 0.1rem;
    font-size: large;
}
.navbar-toggler{
    font-size: medium;
}

.has-search .form-control {
    padding-left: 2.375rem;
    width: 382px;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  .btn-location{
    width: 115px;
    background-color: #fff;
    margin-left: 10px;
    border: 1px solid #aaa;
  }
  .btn-primary{
    background-color: #079407;
    border-color: #ffffff ;
    color: #fff !important;
  }
  .btn-primary:hover{
    background-color: #0aad0a;
    border-color: #ffffff ;
  }
  .mb-8{
    margin-bottom: 2rem !important;
  }
  .nav-link-color{
    color: #000;
  }
  .nav-link-color:hover{
    color: #0aad0a;
  }
  .nav-link-color.active{
    color: #0aad0a !important;
  }