.slider-1{
    background: url("https://freshcart.codescandy.com/assets/images/slider/slide-1.jpg");
    height: 500px ;
    width: 100%;
    
}
.slider-2{
    background: url("https://freshcart.codescandy.com/assets/images/slider/slider-2.jpg");
    height: 500px ;
    width: 406px;
}